<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swgis.android.xmpp" >

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:name="com.swgis.android.xmpp.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.swgis.android.xmpp.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.swgis.android.xmpp.activity.HcActivity"
            android:label="@string/title_activity_hc" >
        </activity>
        <activity android:name="com.swgis.android.xmpp.activity.DemoAppActivity" />
        <activity android:name="com.swgis.android.xmpp.client.NotificationSettingsActivity" />
        <activity android:name="com.swgis.android.xmpp.client.NotificationDetailsActivity" />

        <service android:name="com.swgis.android.xmpp.client.NotificationService" >
            android:label="NotificationService">
            <intent-filter>
                <action android:name="com.swgis.android.xmpp.client.NotificationService" />
            </intent-filter>
        </service>
        <service android:name="com.swgis.android.xmpp.service.XmppService" />

        <receiver android:name="com.swgis.android.xmpp.client.receiver.NotificationReceiver" />
        <!-- <receiver -->
        <!-- android:name="com.swgis.android.xmpp.client.receiver.XmppStatusReceiver" -->
        <!-- android:enabled="true" -->
        <!-- android:exported="true" > -->
        <!-- </receiver> -->
        <activity
            android:name="com.swgis.android.xmpp.activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.swgis.android.xmpp.activity.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
    </application>

</manifest>
